[package]
name = "polkadot-node-core-pvf-common"
description = "Polkadot crate that contains functionality related to PVFs that is shared by the PVF host and the PVF workers."
version = "24.0.0"
authors.workspace = true
edition.workspace = true
license = "GPL-3.0-only"

[lints]
workspace = true

[dependencies]
# zkVerify customization: native host functions for proof verification
native = { workspace = true, default-features = true }

cpu-time = { workspace = true }
futures = { workspace = true }
tracing-gum = { version = "23.0.0" }
libc = { workspace = true }
nix = { features = ["resource", "sched"], workspace = true }
thiserror = { workspace = true }

parity-scale-codec = { version = "3.6.1", default-features = false, features = ["derive"] }
polkadot-node-primitives.default-features = true
polkadot-node-primitives.workspace = true
polkadot-parachain-primitives.default-features = true
polkadot-parachain-primitives.workspace = true
polkadot-primitives.default-features = true
polkadot-primitives.workspace = true
sc-executor.default-features = true
sc-executor.workspace = true
sc-executor-common.default-features = true
sc-executor-common.workspace = true
sc-executor-wasmtime.default-features = true
sc-executor-wasmtime.workspace = true
sp-core.default-features = true
sp-core.workspace = true
sp-crypto-hashing.default-features = true
sp-crypto-hashing.workspace = true
sp-externalities.default-features = true
sp-externalities.workspace = true
sp-io.default-features = true
sp-io.workspace = true
sp-tracing.default-features = true
sp-tracing.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
landlock = { workspace = true }

[target.'cfg(all(target_os = "linux", target_arch = "x86_64"))'.dependencies]
seccompiler = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
wat = { workspace = true }

[target.'cfg(target_os = "linux")'.dev-dependencies]
tempfile = { workspace = true }

[features]
# This feature is used to export test code to other crates without putting it in the production build.
test-utils = []
jemalloc-allocator = []
