[package]
authors.workspace = true
name = "cumulus-relay-chain-inprocess-interface"
version = "0.31.0"
edition.workspace = true
description = "Implementation of the RelayChainInterface trait for Polkadot full-nodes."
license = "GPL-3.0-or-later WITH Classpath-exception-2.0"
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
async-channel = { workspace = true }
async-trait = { workspace = true }
cumulus-primitives-core.default-features = true
cumulus-primitives-core.workspace = true
cumulus-relay-chain-interface.default-features = true
cumulus-relay-chain-interface.workspace = true
futures = { workspace = true }
futures-timer = { workspace = true }
polkadot-primitives.default-features = true
polkadot-primitives.workspace = true
# zkVerify customization: use zkv-cli and zkv-service instead of polkadot-cli and polkadot-service
zkv-cli = { workspace = true, features = ["cli"] }
service.default-features = true
service.workspace = true
sc-cli.default-features = false
sc-cli.workspace = true
sc-client-api.default-features = true
sc-client-api.workspace = true
sc-network.default-features = true
sc-network.workspace = true
sc-sysinfo.default-features = true
sc-sysinfo.workspace = true
sc-telemetry.default-features = true
sc-telemetry.workspace = true
sc-tracing.default-features = true
sc-tracing.workspace = true
sp-api.default-features = true
sp-api.workspace = true
sp-consensus.default-features = true
sp-consensus.workspace = true
sp-core.default-features = true
sp-core.workspace = true
sp-runtime.default-features = true
sp-runtime.workspace = true
sp-state-machine.default-features = true
sp-state-machine.workspace = true

[dev-dependencies]
sp-keyring = { default-features = true, workspace = true }
polkadot-primitives = { workspace = true, default-features = true }
metered = { features = ["futures_channel"], workspace = true }
# zkVerify customization: use zkv test-client instead of polkadot-test-client
test-client = { path = "../../../../relay-node/test/client" }
