name: Build

run-name: "Workflow CI/CD Step: cargo build"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-relay-paratest:
    runs-on: warp-ubuntu-latest-x64-8x
    name: Build relay chain and paratest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Relay chain and paratest build
        uses: ./.github/actions/cmd-in-docker
        with:
          command: "cargo build -p zkv-relay -p paratest-node --release --features fast-runtime"
          use_cache: 'yes'
          cache_key: 'build-relay-paratest'
          lld_install: 'yes'

      - name: Upload relay and paratest build binaries
        uses: actions/upload-artifact@v4
        with:
          name: "relay-paratest-bins"
          path: |
            target/release/zkv-relay
            target/release/zkv-relay-execute-worker
            target/release/zkv-relay-prepare-worker
            target/release/paratest-node
          retention-days: 1
          overwrite: true
