name: Coverage

run-name: "Workflow CI/CD Steps: coverage"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  coverage:
    runs-on: warp-ubuntu-latest-x64-8x
    name: Coverage
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cargo coverage
        uses: ./.github/actions/cmd-in-docker
        with:
          command: >-
            /bin/bash -c 'set -o pipefail && cargo llvm-cov clean --workspace && find . -name \"*.profraw\" -delete
            && cargo llvm-cov --all-features --workspace --exclude zkv-relay --exclude paratest-node --exclude test-service --lcov --output-path lcov.info
            && cargo llvm-cov report --json --output-path coverage_report.json --summary-only && cargo llvm-cov report | tee coverage_summary.txt'
          use_cache: 'yes'
          cache_key: 'coverage'
          cargo_binaries_install: cargo-llvm-cov

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-output
          path: coverage_report.json
          retention-days: 1
          compression-level: 0
          overwrite: true
