name: Tag-orchestrator

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+-[0-9]+.[0-9]+.[0-9]+*"

jobs:
  docker-image:
    name: Docker image
    strategy:
      matrix:
        chain: [solo, relay]
      fail-fast: false

    uses: ./.github/workflows/CI-build-test-publish.yml
    with:
      chain: ${{ matrix.chain }}
      release_branch: release
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
      RELEASES_PROD_SLACK_WEBHOOK_URL: ${{ secrets.RELEASES_PROD_SLACK_WEBHOOK_URL }}

  rustdoc-job:
    name: Rustdoc job
    uses: ./.github/workflows/CI-rustdoc.yml
    with:
      deploy: 'yes'
