name: Try runtime

run-name: "Workflow CI/CD Steps: execute try-runtime"

on:
  workflow_call:
    inputs:
      execute-try-runtime:
        description: 'Whether to execute try-runtime step or not'
        required: false
        type: string
        default: 'yes'
  workflow_dispatch:
    inputs:
      execute-try-runtime:
        description: 'Whether to execute try-runtime step or not'
        required: false
        type: string
        default: 'yes'

jobs:
  try-runtime:
    runs-on: warp-ubuntu-latest-x64-8x
    strategy:
      matrix:
        include:
          - runtime: 'zkverify'
            features: ''
            rpc: 'zkverify-rpc.zkverify.io'
          - runtime: 'volta'
            features: 'volta'
            rpc: 'zkverify-volta-rpc.zkverify.io'
    name: Try runtime ${{ matrix.runtime }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Runtime ${{ matrix.runtime }} build
        uses: ./.github/actions/cmd-in-docker
        with:
          command: "cargo build -p zkv-runtime --release --features try-runtime,${{ matrix.features }}"
          use_cache: 'yes'
          cache_key: 'build-try-runtime-${{ matrix.runtime }}'
          llvm: 'yes'
          libclang-dev: 'yes'

      - name: Execute try-runtime zkverify
        if: ${{ inputs.execute-try-runtime == 'yes' }}
        uses: ./.github/actions/cmd-in-docker
        with:
          command: >-
            try-runtime --runtime /build/target/release/wbuild/zkv-runtime/zkv_runtime.compact.compressed.wasm \
              on-runtime-upgrade \
              --blocktime 6 --disable-mbm-checks --disable-spec-version-check live \
              --uri wss://${{ matrix.rpc }}/
          try_runtime: 'v0.8.0'
          use_cache: 'no'
